.header {
  background-color: $header-background;
  display: flex;
  justify-content: space-between;
  padding: 35px 70px;
  position: relative;

  &__logo {
    height: 56px;
    position: relative;
    width: 195px;
  }

  .navigation {
    position: absolute;
    right: 70px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 630px;

    &--item {
      list-style: none;
      position: relative;

      a {
        @include font-size(2);
        color: $header-nav-color;
        text-decoration: none;
        transition: color .3s ease;
      }

      &::after {
        background-color: $header-nav-color-hover;
        bottom: 0;
        content: '';
        height: 2px;
        left: 0;
        position: absolute;
        transition: width .3s ease;
        width: 0;
      }

      &:hover {
        a {
          color: $header-nav-color-hover;
        }

        &::after {
          width: 100%;
        }
      }
    }
  }
}

.hero {
  height: 700px;
  position: relative;
  width: 100%;

  &--image {
    z-index: 0;
  }

  &__title {
    bottom: 0;
    color: $banner-title-color;
    display: block;
    left: 0;
    margin: auto;
    max-width: 1000px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 120px;
    width: 100%;
    z-index: 1;

    &--small {
      @include font-size(1);
      font-family: $secondary-font-family;
      letter-spacing: 15px;
      margin-bottom: 30px;
      text-transform: uppercase;
    }

    &--large {
      @include font-size(7);
      font-family: $primary-display-font-family;
    }
  }

  &__logo {
    bottom: 40px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
  }
}

.intro-text {
  @include font-size(1.8);
  color: $intro-text-font-color;
  font-family: $secondary-font-family;
  margin: 60px auto;
  max-width: 800px;
  text-align: center;
}

.spotlight {
  &__list {
    display: flex;
    justify-content: space-between;
    margin: 40px auto 160px;
    max-width: 1400px;
  }
}

.section-title {
  @include font-size(3.5);
  color: $section-title-font-color;
  font-family: $section-title-font-family;
  padding-bottom: 20px;
  text-align: center;
}

.imprint {
  margin-bottom: 60px;

  &__intro {
    @include font-size(1.8);
    font-family: $secondary-font-family;
    margin: 0 auto 60px;
    text-align: center;
    width: 800px;
  }

  &__logos {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
  }
}

.publisher {
  display: flex;
  height: 680px;
  margin-bottom: 20px;
  position: relative;

  &__background-image {
    height: 100%;
    object-fit: cover;
    width: 100vw;
  }

  &__info,
  &__books {
    margin: 0 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
  }


  &__info {
    @include font-size(1.8);
    color: $publisher-font-color;
    font-family: $secondary-font-family;
    width: 400px;

    &--paragraph {
      padding: 40px 0 70px;
    }

    &--link {
      margin: 0;
      position: relative;
      width: 113px;

      a {
        color: $publisher-font-color;
        text-decoration: none;
        transition: color .3s ease;

        &::after {
          background-color: $header-nav-color-hover;
          bottom: 0;
          content: '';
          height: 2px;
          left: 0;
          position: absolute;
          transition: width .3s ease;
          width: 0;
        }

        &:hover {
          color: $header-nav-color-hover;

          &::after {
            width: 100%;
          }
        }
      }
    }
  }

  &__books {
    display: flex;
    justify-content: space-between;
    width: 610px;

    a {
      margin-left: 30px;
      transition: transform .3s ease;

      &:hover {
        transform: scale(1.1);
      }
    }
  }
}

.publisher__twenty7 {
  .publisher__info {
    margin-left: 192px;
    right: 180px;
  }

  .publisher__books {
    left: 180px;
  }
}

.publisher__zaffre,
.publisher__entwined {
  .publisher__info {
    left: 180px;
  }

  .publisher__books {
    right: 180px;
  }
}

.team {
  background-color: $team-background-color;
  padding: 100px 0;

  .section-title {
    color: #fff;
  }

  .team__intro {
    @include font-size(1.8);
    color: $team-text-color;
    margin: 0 auto 100px;
    text-align: center;
    width: 937px;
  }

  &--btn {
    background-color: $_color-white;
    height: 70px;
    margin: 0 auto;
    position: relative;
    transition: background-color .3s ease;
    width: 434px;

    a {
      color: $team-button-font-color;
      font-family: $team-button-font-family;
      line-height: 70px;
      position: absolute;
      text-align: center;
      text-decoration: none;
      transition: color .3s ease;
      width: 100%;
    }

    &:hover {
      background-color: $team-button-background-hover;

      a {
        color: $team-button-font-hover;
      }
    }
  }
}
