.header {
  background-color: $header-background;
  display: flex;
  justify-content: space-between;
  padding: 35px 70px;
  position: relative;

  &__logo {
    height: 56px;
    position: relative;
    width: 195px;
  }

  .navigation {
    position: absolute;
    right: 70px;
    top: 50%;
    transform: translateY(-50%);
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 630px;

    &--item {
      list-style: none;
      position: relative;

      a {
        @include font-size(2);
        color: $header-nav-color;
        text-decoration: none;
        transition: color .3s ease;
      }

      &::after {
        background-color: $header-nav-color-hover;
        bottom: 0;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        transition: width .3s ease;
        width: 0;
      }

      &:hover {
        a {
          color: $header-nav-color-hover;
        }

        &::after {
          width: 100%;
        }
      }
    }
  }
}

.hero {
  background-image: image-url('hero-banner.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  position: relative;
  width: 100%;

  &--image {
    z-index: 0;
  }

  &__title {
    bottom: 0;
    color: $banner-title-color;
    display: block;
    left: 0;
    margin: auto;
    max-width: 1000px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 120px;
    width: 100%;
    z-index: 1;

    &--small {
      @include font-size(1);
      font-family: $secondary-display-font-family;
      letter-spacing: 15px;
      margin-bottom: 30px;
      text-transform: uppercase;
    }

    &--large {
      @include font-size(7);
      font-family: $primary-display-font-family;
    }
  }

  &__logo {
    bottom: 40px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
  }
}
